body {
    margin: 0;
    font-family: arial;
    margin-left: 20px;
    background-color: #a1a2a3;
}

h1 {
    font-weight: bold;
    color: gray;
    font-size: 2.5em;
}

h2 {
    font-style: italic;
}
#tableH2 {
    text-align: center;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
   
}

th,td {
    padding: 5px;
    text-align: center;
}
th {
   background-color: lightgray;
}

.titles {
    text-align: center;
    
}

#table {
    top: 50px;
    bottom: 100px;
    text-align: center;
    
}

#container {
    height:auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

}



